h1,
span {
  background-color: #c0c0c0;
  color: #154360;
  font-style: normal;
  font-size: ;
  font-variant: normal;
  line-height: 100%;
}

h2 {
  color: #154360;
  background-color: #c0c0c0;
}

body {
  color: " ";
  font-family: sans-serif;
  font-variant: ;
}

summary,
span {
  background-color: #c0c0c0;
  color: #154360;
}
